<div class="main-content" >
  <div class="container-fluid"  >
    <div class="row" >
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Maintenance Log</h4>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Tanggal </mat-label>
                  <input matInput type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                    class="form-control" formControlName="tanggal" required>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Mesin</label>
                <l-select2 [data]="dataSelectMesin" formControlName="mesin_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'90%'}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.mesin_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.mesin_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Jenis Maintenance</label>
                <l-select2 [data]="dataSelectJenis" formControlName="jenis_maintenance_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'90%'}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.jenis_maintenance_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.jenis_maintenance_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>HM/KM</mat-label>
                  <input matInput formControlName="hm_km" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.hm_km.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.hm_km.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Keterangan</mat-label>
                  <input matInput formControlName="ket" required type="text">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.ket.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.ket.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>



              <div formArrayName="details">
                <table id="mytable" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                  width="100%" style="width:100%">
                  <thead>
                    <tr>

                      <!-- <th style="width: 30%;">Blok</th> -->
                      <!-- <th>Jumlah Janjang</th> -->
                      <!-- <th>Brondolan(Kg)</th> -->
                      <th>Spare part</th>
                      <th>Qty</th>

                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr [formGroupName]="i" *ngFor="let blok of details.controls; let i=index; let odd=odd;">
                      <td>
                        <l-select2 [data]="dataSelectSparepart" formControlName="sparepart_id" [options]="{ placeholder: 'Pilih',
                        allowClear: true}">
                        </l-select2>
                      </td>

                      <!-- <td> <input type="text" formControlName="sparepart" style="text-align: right;" class="form-control"></td> -->
                      <td> <input type="number" formControlName="qty" style="text-align: right;" class="form-control"></td>
                      <!-- <td> <input type="number" formControlName="jumlah_janjang" style="text-align: right;" class="form-control" (change)="recalculate()"></td>
                      <td> <input type="number" formControlName="jumlah_brondolan" style="text-align: right;" class="form-control" (change)="recalculate()"></td> -->

                      <td><button (click)="removeBlok(blok);$event.preventDefault()" class="btn btn-rose btn-round btn-fab btn-fab-mini"><i class="material-icons">close</i></button></td>

                    </tr>

                  </tbody>

                  <button (click)="addBlok()" (keydown.enter)="$event.preventDefault()"  class="btn btn-info btn-round btn-fab btn-fab-mini">
                    <i class="material-icons">add</i>
                  </button>
                </table>
              </div>


              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

            </div>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>
