<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-8 col-md-offset-2"> -->
      <!-- <h3 class="title text-center">Kelas Mapel</h3> -->
      <!-- <br /> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Laporan -
              <small class="category">Payroll</small>
            </h4>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-pills-icons nav-pills-rose nav-stacked" role="tablist">
                  <!--
                  color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
              -->
                  <!-- <li class="active"> -->

                  <li class="active">
                    <a href="#laporan_gaji" role="tab" data-toggle="tab">
                      <i class="material-icons">account_balance</i>Laporan Gaji
                    </a>
                  </li>
                 <!-- <li class="">
                    <a href="#absensi" role="tab" data-toggle="tab">
                      <i class="material-icons">business</i>Laporan Absensi
                    </a>
                  </li>
                 <li>
                    <a href="#lembur" role="tab" data-toggle="tab">
                      <i class="material-icons">account_balance_wallet</i>Laporan Lembur
                    </a>
                  </li> -->
                  <!--  <li>
                    <a href="#kasbank" role="tab" data-toggle="tab">
                      <i class="material-icons">business</i>Transaksi Kas Bank
                    </a>
                  </li>
                  <li>
                    <a href="#kasbank_saldo" role="tab" data-toggle="tab">
                      <i class="material-icons">local_atm</i>Saldo Kas Bank
                    </a>
                  </li> -->

                </ul>
              </div>
              <div class="col-md-10">
                <div class="tab-content">



                  <div class="tab-pane  active" id="laporan_gaji">
                    <form [formGroup]="gajiForm" (ngSubmit)="reportGaji()">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Laporan Gaji </h4>
                        </div>
                        <div class="card-content">
                          <label id="example-radio-group-label">Jenis</label>
                          <mat-radio-group formControlName="jenis" aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <mat-radio-button value="0">Rekap Gaji</mat-radio-button>
                            <mat-radio-button value="1">Slip Gaji</mat-radio-button>
                            <mat-radio-button value="2">Catu Beras</mat-radio-button>
                            <mat-radio-button value="3">Rekap Gaji PPH</mat-radio-button>
                            <mat-radio-button value="4">Rekap Gaji per Kategori Karyawan</mat-radio-button>
                            <mat-radio-button value="5">Rekap Gaji PPH By Unit Kerja</mat-radio-button>
                          </mat-radio-group>
                          <div class="form-group label-floating">
                            <label class="control-label">Lokasi</label>

                            <l-select2 [data]="dataSelectLokasi" formControlName="lokasi_id"
                           [options]="{ placeholder: 'Pilih',
                            allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormGajiSubmitted && gajiForm.controls['lokasi_id'].errors" class="invalid-feedback">
                              <small [hidden]="!gajiForm.controls['lokasi_id'].errors.required "
                                class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>
                          </div>
                          <div class="form-group label-floating ">
                            <label class="control-label ">Afdeling/Stasiun</label>
                            <l-select2 [data]="dataSelectLokasiAfd" formControlName="lokasi_afd_id" [options]="{ placeholder: 'Semua',
                            allowClear: true,width:'50%'}">
                            </l-select2>
                            <!-- <div *ngIf="isFormSubmitted && userControl.lokasi_afd_id.errors" class="invalid-feedback">
                              <small [hidden]="!userControl.lokasi_afd_id.errors.required " class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div> -->
                          </div>
                          <div class="form-group label-floating ">
                            <label class="control-label ">Status Karyawan</label>
                            <l-select2 [data]="dataSelectStatus" formControlName="status_id" [options]="{ placeholder: 'Semua',
                            allowClear: true,width:'50%'}">
                            </l-select2>
                            <!-- <div *ngIf="isFormSubmitted && userControl.lokasi_afd_id.errors" class="invalid-feedback">
                              <small [hidden]="!userControl.lokasi_afd_id.errors.required " class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div> -->
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Periode</label>

                            <l-select2 [data]="dataSelectPeriode" formControlName="periode" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormGajiSubmitted && gajiForm.controls['periode'].errors"
                              class="invalid-feedback">
                              <small [hidden]="!gajiForm.controls['periode'].errors.required" class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>

                          </div>
                          <!-- <div class="form-group label-floating">
                            <label class="control-label">Bulan</label>

                            <l-select2 [data]="dataSelectBulan" formControlName="bulan" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormSubmitted && gajiForm.controls['bulan'].errors" class="invalid-feedback">
                              <small [hidden]="!gajiForm.controls['bulan'].errors.required"
                                class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>

                          </div>



                          <div class="form-group label-floating">
                            <label class="control-label">Tahun</label>

                            <l-select2 [data]="dataSelectTahun" formControlName="tahun" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormSubmitted && gajiForm.controls['tahun'].errors" class="invalid-feedback">
                              <small [hidden]="!gajiForm.controls['tahun'].errors.required"
                                class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>

                          </div>-->

                          <mat-radio-group formControlName="format_laporan" aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <mat-radio-button value="view">View </mat-radio-button>
                            <mat-radio-button value="xls">XLS</mat-radio-button>
                            <mat-radio-button value="pdf">PDF</mat-radio-button>
                          </mat-radio-group>


                        </div>

                        <div class="form-group ">
                          <button type="submit" class="btn btn-primary btn-sm">Tampilkan</button>
                        </div>
                      </div>
                    </form>

                  </div>
                 <div class="tab-pane " id="absensi">
                    <form [formGroup]="absensiForm" (ngSubmit)="reportAbsensi()">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Absensi </h4>
                        </div>
                        <div class="card-content">

                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>dari Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_mulai">
                            </mat-form-field>

                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>s/d Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_akhir">
                            </mat-form-field>

                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Karyawan</label>

                            <l-select2 [data]="dataSelectKaryawanAbsensi" formControlName="karyawanAbsensi" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormAbsensiSubmitted && absensiForm.controls['karyawanAbsensi'].errors" class="invalid-feedback">
                              <small [hidden]="!absensiForm.controls['karyawanAbsensi'].errors.required"
                                class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>

                          </div>

                         </div>

                        <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-sm" >Tampilkan</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane " id="lembur">
                    <form [formGroup]="lemburForm" (ngSubmit)="reportLembur()">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Lembur </h4>
                        </div>
                        <div class="card-content">

                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>dari Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_mulai">
                            </mat-form-field>

                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>s/d Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_akhir">
                            </mat-form-field>

                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Karyawan</label>

                            <l-select2 [data]="dataSelectKaryawanLembur" formControlName="karyawanLembur" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormLemburSubmitted && lemburForm.controls['karyawanLembur'].errors" class="invalid-feedback">
                              <small [hidden]="!lemburForm.controls['karyawanLembur'].errors.required"
                                class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>

                          </div>

                         </div>

                        <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-sm" >Tampilkan</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>
