<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Rekap Pengiriman Trading</h4>

              <div class="form-group label-floating">
                <label class="control-label">Lokasi</label>
                <l-select2 [data]="dataSelectLokasi" formControlName="lokasi_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.lokasi_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.lokasi_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>No Rekap Pengiriman</mat-label>
                  <input matInput formControlName="no_rekap" required type="text">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.no_rekap.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.no_rekap.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">tanggal</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="tanggal">
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="form-group label-floating">
                <label class="control-label">Periode Kartu Timbang</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="periode_kt_dari">
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.periode_kt_dari.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.periode_kt_dari.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Periode Kartu Timbang</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="periode_kt_sd">
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.periode_kt_sd.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.periode_kt_sd.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Customer</label>
                <l-select2 [data]="dataSelectCustomer" formControlName="customer_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}" disabled="disabled">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.customer_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.customer_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">No Kontrak</label>
                <l-select2 [data]="dataSelectSpk" formControlName="spk_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}" disabled="disabled">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.spk_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.spk_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>



            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-content">


              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Nama Produk</mat-label>
                  <input matInput formControlName="item_id" required type="text" hidden>
                  <input matInput formControlName="nama_produk" required type="text" >

                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.item_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.item_id.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Harga Satuan</mat-label>
                  <input matInput formControlName="harga_satuan" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.harga_satuan.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.harga_satuan.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <!-- <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Jumlah Produk</mat-label>
                  <input matInput formControlName="jumlah" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.jumlah.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.jumlah.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->
              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Total Berat Terima</mat-label>
                  <input matInput formControlName="total_berat_terima" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.total_berat_terima.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.total_berat_terima.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Sub Total</mat-label>
                  <input matInput formControlName="sub_total" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.sub_total.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.sub_total.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>





              <!-- <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Total Berat Tagihan</mat-label>
                  <input matInput formControlName="total_berat_tagihan" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.total_berat_tagihan.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.total_berat_tagihan.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->

              <!-- <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Total Tagihan</mat-label>
                  <input matInput formControlName="total_tagihan" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.total_tagihan.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.total_tagihan.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->

            </div>
          </div>
        </div>

        <!-- <div class="col-md-12">
          <div class="card-content">
            <button type="button" class="btn btn-primary btn-raised btn-sm btn-round" (click)="showTimbangan()">
              Surat Tervalidasi
            </button>
          </div>
        </div> -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-content">
              <div formArrayName="details">
                <table id="mytable" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                  width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th rowspan="2" style="font-size:11pt; width: 17%;">No SJ</th>
                      <th  rowspan="2" style="font-size:11pt;">Tanggal Kirim</th>
                      <th  rowspan="2" style="font-size:11pt;">No Tiket</th>
                      <th  rowspan="2" style="font-size:11pt;">Nama Supir</th>
                      <th  rowspan="2" style="font-size:11pt;">No Kendaraan</th>
                      <th colspan="3" style="font-size:11pt; text-align: center; ">Customer</th>
                    </tr>
                    <tr>

                      <th style="font-size:11pt;">Tgl Terima</th>
                      <th style="font-size:11pt;">Netto</th>

                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let p of rekapSj; index as i">
                      <!-- <td>{{p.id}}</td>  -->
                      <td>{{p.no_surat_jalan}}</td>
                      <td>{{p.tanggal_surat_jalan}}</td>
                      <td >{{p.no_tiket}}</td>
                      <td>{{p.nama_supir}}</td>
                      <td>{{p.no_kendaraan}}</td>
                      <td>{{p.tanggal_terima}}</td>
                      <td>{{ (p.netto_customer != null ? p.netto_customer : 0) | number }}</td>


                      <!-- <td><button (click)="removeBlok(i);" class="btn btn-rose btn-round btn-fab btn-fab-mini">
                      <i class="material-icons">close</i></button></td> -->

                    </tr>

                  </tbody>
                  <br>
                  <!-- <button (click)="addBlok()" class="btn btn-info btn-round btn-fab btn-fab-mini">
                    <i class="material-icons">add</i>
                  </button> -->

                  <!-- btn btn-info btn-round btn-fab btn-fab-mini -->
                </table>
              </div>
              <table width="100%" style="width:100%" hidden>
                <tr>
                  <td style="width: 30%;">&nbsp;</td>
                  <td style="width: 40%;">Jumlah</td>
                  <!-- <td>
                    <input type="number" formControlName="total" style="text-align: right;" readonly>
                  </td> -->

                  <td></td>
                </tr>
              </table>

              <br><br>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
