<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-8 col-md-offset-2"> -->
      <!-- <h3 class="title text-center">Kelas Mapel</h3> -->
      <!-- <br /> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Laporan -
              <small class="category">Permintaan Pembelian</small>
            </h4>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-pills-icons nav-pills-warning nav-stacked" role="tablist">
                  <!--
                  color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
              -->
                  <!-- <li class="active"> -->
                  <li class="active">
                    <a href="#laporan_pp_status" role="tab" data-toggle="tab">
                      <i class="material-icons">business</i>Laporan Status PP
                    </a>
                  </li>
                  <!-- <li class="">
                    <a href="#laporan_pp" role="tab" data-toggle="tab">
                      <i class="material-icons">person</i>Rekap pp
                    </a>
                  </li> -->

                  <!-- <li>
                    <a href="#lembur" role="tab" data-toggle="tab">
                      <i class="material-icons">account_balance_wallet</i>Laporan Lembur
                    </a>
                  </li> -->
                  <!--  <li>
                    <a href="#kasbank" role="tab" data-toggle="tab">
                      <i class="material-icons">business</i>Transaksi Kas Bank
                    </a>
                  </li>
                  <li>
                    <a href="#kasbank_saldo" role="tab" data-toggle="tab">
                      <i class="material-icons">local_atm</i>Saldo Kas Bank
                    </a>
                  </li> -->

                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">



                  <div class="tab-pane  " id="laporan_pp">
                    <form [formGroup]="PpForm" (ngSubmit)="reportPp()">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Rekap Permintaan Pembelian</h4>
                        </div>
                        <div class="card-content">

                          <!-- <div class="form-group label-floating">
                            <label class="control-label">Customer</label>
                            <l-select2 [data]="dataSelectPp" formControlName="customer" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'80%'}">
                            </l-select2>
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Kontrak</label>
                            <l-select2 [data]="dataSelectKontrak" formControlName="kontrak" [options]="{ placeholder: 'Semua',
                        allowClear: true,width:'80%'}">
                            </l-select2>
                          </div> -->
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>dari Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_mulai">
                            </mat-form-field>
                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>s/d Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_akhir">
                            </mat-form-field>
                          </div>
                          <label id="example-radio-group-label">Format Laporan</label>
                          <mat-radio-group formControlName="format_laporan" aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <mat-radio-button value="view">View </mat-radio-button>
                            <mat-radio-button value="xls">XLS</mat-radio-button>
                            <mat-radio-button value="pdf">PDF</mat-radio-button>
                          </mat-radio-group>

                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm btn-rose">Tampilkan</button>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane active" id="laporan_pp_status">
                    <form [formGroup]="PpDetailForm" >
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Status Permintaan Pembelian</h4>
                        </div>
                        <div class="card-content">

                          <div class="form-group label-floating">
                            <label class="control-label">Lokasi </label>
                            <l-select2 [data]="dataSelectLokasi" formControlName="lokasi" [options]="{ placeholder: 'Semua',
                        allowClear: true,width:'50%'}">
                            </l-select2>
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Status</label>
                            <l-select2 [data]="dataSelectStatusPP" formControlName="status_pp"
                              [options]="{ placeholder: 'Semua',
                                 allowClear: true,width:'50%'}">
                            </l-select2>
                            <!-- <div *ngIf="isFormSubmitted && userControl.tipe.errors" class="invalid-feedback">
                              <small [hidden]="!userControl.tipe.errors.required && userControl.tipe.value.text!='Pilih'"
                                class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div> -->
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">NO PP</label>
                            <l-select2 [data]="dataSelectPp" formControlName="no_pp" [options]="{ placeholder: 'Semua',
                        allowClear: true,width:'50%'}">
                            </l-select2>
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Item</label>
                            <l-select2 [data]="dataSelectitem" formControlName="item_id" [options]="{ placeholder: 'Semua',
                        allowClear: true,width:'50%'}">
                            </l-select2>
                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>dari Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_mulai">
                            </mat-form-field>
                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>s/d Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_akhir">
                            </mat-form-field>
                          </div>
                          <label id="example-radio-group-label">Format Laporan</label>
                          <mat-radio-group formControlName="format_laporan" aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <mat-radio-button value="view">View </mat-radio-button>
                            <mat-radio-button value="xls">XLS</mat-radio-button>
                            <mat-radio-button value="pdf">PDF</mat-radio-button>
                          </mat-radio-group>

                          <!-- <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm btn-rose">Tampilkan</button>
                          </div> -->
                          <div class="form-group">
                            <button class="btn btn-primary btn-sm btn-rose"
                              (click)="reportPpStatus('')" >Tampilkan</button>
                              <!-- <button type="button" class="btn btn-primary btn-sm btn-rose"
                              (click)="reportPpStatus('excel')">Excel</button> -->
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>
