<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">event</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Inspeksi</h4>

              <div class="col-md-6">
                <div class="example-full-width ">
                  <mat-form-field>
                    <mat-label>Catatan</mat-label>
                    <input matInput formControlName="catatan">
                  </mat-form-field>
                  <!-- <div *ngIf="isFormSubmitted && userControl.nama.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.nama.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div> -->
                </div>

                <div class="example-full-width ">
                  <mat-form-field>
                    <mat-label>Tanggal/Waktu</mat-label>
                    <input matInput formControlName="waktu" readonly>
                  </mat-form-field>

                </div>
                <!-- <div class="example-full-width " hidden>
                <mat-form-field>
                  <mat-label>Tanggal</mat-label>
                  <input matInput type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                    class="form-control" formControlName="tanggal" required>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->

                <div class="form-group label-floating ">
                  <label class="control-label ">Status</label>
                  <l-select2 [data]="dataSelectStatus" formControlName="status" [options]="{ placeholder: 'Pilih',
                   allowClear: false,width:'50%'}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.status.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.status.errors.required && userControl.status.value.text!='Pilih'"
                      class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail"> -->

                    <img src="../../assets/img/image_placeholder.jpg" alt="..." *ngIf="inspeksi.file==null">
                    <img src="{{PATH_URL}}/{{pathName}}/userfiles/inspeksi/{{inspeksi.file}}"
                      *ngIf="inspeksi.file!=null" />

                  <!-- </div>
                </div> -->
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Tutup</button>
              <button type="submit" class="btn btn-fill btn-rose">Update Status</button>
              <!-- </form> -->
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
