<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="red">
            <i class="material-icons">list</i>
          </div>

          <div class="card-content">
            <h4 class="card-title">List PR TRADING</h4>

            <div class="toolbar">


              <div class="btn-group" *ngIf="accessButton?.print_==true">
                <button type="button" (click)="exportFiles('csv')"
                  class="btn btn-round btn-info btn-sm btn-rose">csv</button>
                <button type="button" (click)="exportFiles('xlsx')"
                  class="btn btn-round btn-info btn-sm btn-rose">excel</button>
                <!-- <button type="button" class="btn btn-round btn-info">3</button>  -->
                <button type="button" (click)="exportFiles('pdf')"
                  class="btn btn-round btn-info btn-sm btn-rose">pdf</button>
              </div>
              <!-- <button type="button" (click)="add()" class="btn btn-primary btn-info btn-sm btn pull-right btn-rose">Tambah Permintaan Pembelian</button> -->
              <!-- <buton  type="button"(click)="add()" class="btn btn-primary btn-sm btn-pull-right">Tambah Pengajar</button> -->

            </div>
            <div class="table-responsive">
              <table id="mytable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable
                class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                style="width:100%">
                <!-- <table id="mytable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="tables table-striped table-no-bordered table-hover" cellspacing="0"
              width="90%" style="width:90%"> -->
                <thead>
                  <tr>
                    <th>ID</th>

                    <th>Lokasi</th>
                    <th>No PP</th>
                    <th>Tanggal</th>
                    <th>Catatan</th>
                    <th>Status</th>

                    <th width="10%"></th>
                </thead>
                <tbody *ngIf="PrcPp?.length != 0">
                  <tr *ngFor="let p of PrcPp; index as i">

                    <td>{{p.lokasi}}</td>
                    <td>{{p.no_pp}}</td>
                    <td>{{p.tanggal}}</td>
                    <td>{{p.catatan}}</td>
                    <td>{{getStatusPP(p)}}</td>

                    <td width="20%" class="text-right">
                      <a href="#" *ngIf="p.upload_file" onclick="event.preventDefault()" (click)="download(p.id)"
                        class="btn btn-simple btn-warning btn-icon edit" rel="tooltip" data-placement="bottom"
                        title="Download File"><i class="material-icons">file_download</i></a>
                      <a href="#" onclick="event.preventDefault()" (click)="viewSlip(p.id)"
                      class="btn btn-simple btn-warning btn-icon "><i class="material-icons">picture_as_pdf</i></a>
                      <span *ngIf="p.proses_approval!=0" >
                        <a href="#" onclick="event.preventDefault()" (click)="statusApproval(p.id)"
                          class="btn btn-simple btn-warning btn-icon " rel="tooltip" data-placement="bottom"
                          title="Status"><i class="material-icons">list</i></a>
                      </span>
                      <a href="#" onclick="event.preventDefault()"
                        (click)="closing(p.id)" class="btn btn-simple btn-warning btn-icon " rel="tooltip"
                        data-placement="bottom" title="close PP"><i class="material-icons">close</i></a>
                      <!-- <span *ngIf="p.proses_approval==0  && p.status!='REJECTED' && p.status!='READY_PO'"> <a href="#" onclick="event.preventDefault()"
                          (click)="approval(p.id)" class="btn btn-simple btn-warning btn-icon " rel="tooltip"
                          data-placement="bottom" title="Approval"><i class="material-icons">person</i></a>


                        <a href="#" onclick="event.preventDefault()" (click)="edit(p.id)"
                          class="btn btn-simple btn-warning btn-icon edit" rel="tooltip" data-placement="bottom"
                          title="Edit"><i class="material-icons">edit</i></a>
                        <a href="#" onclick="event.preventDefault()" (click)="delete(p.id)"
                          class="btn btn-simple btn-danger btn-icon remove" rel="tooltip" data-placement="bottom"
                          title="Delete"><i class="material-icons">close</i></a>
                      </span> -->

                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="PrcPp?.length == 0" class="tfoot_dt">

                </tfoot>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
