<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">list</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Approval Pemakaian Barang</h4>
              <p class="label label-success"> {{InvPemakaianBarang.no_transaksi}}</p>
              <a href="#" *ngIf="InvPemakaianBarang.upload_file" onclick="event.preventDefault()" (click)="download(InvPemakaianBarang.id)"
              class="btn btn-sm btn-warning btn-icon " rel="tooltip" data-placement="bottom"
              title="Download File"><i class="material-icons">file_download</i></a>
              <br>
              <br>
              <!-- <label id="example-radio-group-label">Status</label> -->
              <mat-radio-group formControlName="status_id" aria-labelledby="example-radio-group-label"
                class="example-radio-group" (change)="statusChange($event)">
                <mat-radio-button value="1">APPROVE </mat-radio-button>
                <mat-radio-button value="0">REJECTED</mat-radio-button>

              </mat-radio-group>
              <!-- <div class="form-group label-floating" *ngIf="status_id=='1'">

                <label class="control-label">Diajukan Kepada</label>
                <l-select2 [data]="dataSelectKaryawan" formControlName="karyawan_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.karyawan_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.karyawan_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>

              </div> -->
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <input matInput formControlName="status" required readonly>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.status.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.status.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Catatan Approval</mat-label>
                  <input matInput formControlName="note_approve" required>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.note_approve.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.note_approve.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      <h4 class="panel-title">
                        Rincian Pemakaian Barang
                        <i class="material-icons">keyboard_arrow_down</i>
                      </h4>
                    </a>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <!-- <p>Data Permintaan Pembelian</p> -->
                      <div class="form-group label-floating">
                        <label class="control-label">Lokasi</label>
                        <l-select2 [data]="dataSelectLokasi" formControlName="lokasi_id" [options]="{ placeholder: 'Pilih',
                        allowClear: true}" disabled="disabled">
                        </l-select2>
                        <div *ngIf="isFormSubmitted && userControl.lokasi_id.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.lokasi_id.errors.required " class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div>
                      </div>
                      <div class="form-group label-floating">
                        <label class="control-label">tanggal</label>
                        <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                          class="form-control" formControlName="tanggal" readonly>
                        <div class="form-control-position"><i class="ft-calendar"></i></div>
                        <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div>
                      </div>
                      <div class="example-full-width ">
                        <mat-form-field>
                          <mat-label>No Transaksi</mat-label>
                          <input matInput formControlName="no_transaksi" required readonly>
                        </mat-form-field>
                        <div *ngIf="isFormSubmitted && userControl.no_transaksi.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.no_transaksi.errors.required" class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div>
                      </div>
                      <div class="example-full-width ">
                        <mat-form-field>
                          <mat-label>Catatan</mat-label>
                          <input matInput formControlName="catatan" readonly>
                        </mat-form-field>
                        <div *ngIf="isFormSubmitted && userControl.catatan.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.catatan.errors.required" class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div>
                      </div>

                      <div formArrayName="details">
                        <div class="table-responsive">
                        <table id="mytable" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                          width="100%" style="width:100%">
                          <thead>
                            <tr>

                              <th style="width: 30%;">Item</th>
                              <th>UOM</th>
                              <th>Qty</th>
                              <th>Keterangan</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr [formGroupName]="i" *ngFor="let blok of details.controls; let i=index; let odd=odd;">
                              <td hidden>
                                <input type="text" formControlName="id" style="text-align: center;" class="form-control"
                                  hidden>
                              </td>
                              <td>

                                <l-select2 [data]="dataSelectItem" formControlName="item" [options]="{ placeholder: 'Pilih',
                                allowClear: true}" (ngModelChange)="getUOM(blok)" disabled="disabled">
                                </l-select2>
                              </td>
                              <td> <input type="text" formControlName="uom" style="text-align: center;"
                                  class="form-control" readonly></td>
                              <td> <input type="number" formControlName="qty" style="text-align: right;"
                                  class="form-control" ></td>
                              <td> <textarea  formControlName="ket"
                                  class="form-control" readonly></textarea></td>
                              <td>
                                <!-- <button onclick="event.preventDefault()" (click)="cekStok(blok)" class="btn btn-info btn-round btn-fab btn-fab-mini">
                                  <i class="material-icons">info</i></button> -->
                                  <!-- <input type="text" formControlName="stok" style="text-align: right;"
                                    class="form-control"> -->

                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button *ngIf="status_id=='1'" type="submit" class="btn btn-fill btn-rose">Approve dan Ajukan</button>
              <button *ngIf="status_id!='1'" type="button" class="btn btn-fill btn-danger" onclick="event.preventDefault()"
                (click)="reject()">Reject/Tolak</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
