<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-8 col-md-offset-2"> -->
      <!-- <h3 class="title text-center">Kelas Mapel</h3> -->
      <!-- <br /> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Laporan -
              <small class="category">Saldo Cuti</small>
            </h4>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-pills-icons nav-pills-warning nav-stacked" role="tablist">



                  <li class="active">
                    <a href="#laporan_rincian_penerimaantbs_ext" role="tab" data-toggle="tab">
                      <i class="material-icons">list</i> Saldo Cuti
                    </a>
                  </li>


                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">




                  <div class="tab-pane active  " id="laporan_rincian_penerimaantbs_ext">
                    <!-- <form [formGroup]="penerimaanTbsRincianExtForm" (ngSubmit)="reportPenerimaanTbsRincianExt()"> -->
                    <form [formGroup]="laporanRincianPo">

                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Laporan Saldo Cuti</h4>
                        </div>
                        <div class="card-content">

                          <div class="form-group label-floating">
                            <label class="control-label">Lokasi</label>
                            <l-select2 [data]="dataSelectOrganisasi" formControlName="lokasi" [options]="{ placeholder: 'Semua',
                        allowClear: true,width:'50%'}">
                            </l-select2>
                          </div>


                          <label id="example-radio-group-label">Format Laporan</label>
                          <mat-radio-group formControlName="format_laporan" aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <mat-radio-button value="view">View </mat-radio-button>
                            <mat-radio-button value="xls">XLS</mat-radio-button>
                            <mat-radio-button value="pdf">PDF</mat-radio-button>
                          </mat-radio-group>

                          <!-- <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm btn-rose">Tampilkan</button>
                          </div> -->
                          <div class="form-group">
                            <button class="btn btn-primary btn-sm btn-rose"
                              (click)="reportPoRincian('')">Tampilkan</button>
                            <!-- <button type="button" class="btn btn-primary btn-sm btn-rose"
                              (click)="reportPoRincian('excel')">Excel</button> -->
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>





                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>