<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-8 col-md-offset-2"> -->
      <!-- <h3 class="title text-center">Kelas Mapel</h3> -->
      <!-- <br /> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Laporan -
              <small class="category">Uang Muka Realisasi</small>
            </h4>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-pills-icons nav-pills-success nav-stacked" role="tablist">
                  <!--
                  color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
              -->
                  <!-- <li class="active"> -->

                  <li class="active">
                    <a href="#neraca_saldo" role="tab" data-toggle="tab">
                      <i class="material-icons">account_balance</i>Rekap Uang Muka Realisasi
                    </a>
                  </li>
                  <!-- <li class="">
                    <a href="#buku_besar" role="tab" data-toggle="tab">
                      <i class="material-icons">business</i>Rincian Uang Muka Realisasi
                    </a>
                  </li> -->
                  
                </ul>
              </div>
              <div class="col-md-10">
                <div class="tab-content">



                  <div class="tab-pane active" id="neraca_saldo">
                    <form [formGroup]="UangMukaRealisasiRekapForm" (ngSubmit)="reportSaldo()">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Rekap Uang Muka Realisasi</h4>
                        </div>
                        <div class="card-content">

                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>dari Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_mulai">
                            </mat-form-field>

                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>s/d Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_akhir">
                            </mat-form-field>

                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Lokasi</label>

                            <l-select2 [data]="dataSelectLokasi" formControlName="lokasi" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormSubmitted2 && UangMukaRealisasiRekapForm.controls['lokasi'].errors"
                              class="invalid-feedback">
                              <small [hidden]="!UangMukaRealisasiRekapForm.controls['lokasi'].errors.required" class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>

                          </div>

                         </div>

                        <div class="form-group ">

                          <button type="submit"  class="btn btn-primary btn-sm">Tampilkan</button>
                        </div>
                      </div>
                    </form>

                  </div>



                  <!-- <div class="tab-pane" id="buku_besar">
                    <form [formGroup]="UangMukaRealisasiRekapDetailForm" (ngSubmit)="reportSaldoDetail()">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Rincian Uang Muka Realisasi</h4>
                        </div>
                        <div class="card-content">
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>dari Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_mulai">
                            </mat-form-field>
                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>s/d Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_akhir">
                            </mat-form-field>
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Lokasi</label>
                            <l-select2 [data]="dataSelectLokasi" formControlName="lokasi" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormSubmitted && UangMukaRealisasiRekapDetailForm.controls['lokasi'].errors"
                              class="invalid-feedback">
                              <small [hidden]="!UangMukaRealisasiRekapDetailForm.controls['lokasi'].errors.required" class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Akun</label>
                            <l-select2 [data]="dataSelectAkun" formControlName="akun" [options]="{ placeholder: 'Pilih',
                        allowClear: false,width:'50%'}">
                            </l-select2>
                            <div *ngIf="isFormSubmitted && UangMukaRealisasiRekapDetailForm.controls['akun'].errors"
                              class="invalid-feedback">
                              <small [hidden]="!UangMukaRealisasiRekapDetailForm.controls['akun'].errors.required" class="text-danger">
                                Tidak boleh kosong!
                              </small>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <button type="submit"  class="btn btn-primary btn-sm">Tampilkan</button>
                        </div>
                      </div>
                    </form>
                  </div> -->


                </div>
              </div> <!--    md col 8 -->
            </div>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>
