<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">list</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Rekap Penerimaan Produk</h4>

              <div class="form-group label-floating">
                <label class="control-label">Lokasi</label>
                <l-select2 [data]="dataSelectLokasi" formControlName="lokasi_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.lokasi_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.lokasi_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>No Rekap Penerimaan</mat-label>
                  <input matInput formControlName="no_rekap" required type="text">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.no_rekap.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.no_rekap.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">tanggal</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="tanggal">
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="form-group label-floating">
                <label class="control-label">Tgl Mulai</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="periode_kt_dari" readonly>
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.periode_kt_dari.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.periode_kt_dari.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Tgl S/d</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="periode_kt_sd" readonly>
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.periode_kt_sd.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.periode_kt_sd.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Supplier</label>
                <l-select2 [data]="dataSelectSupplier" formControlName="supplier_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}" disabled="disabled">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.supplier_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.supplier_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">No Kontrak</label>
                <l-select2 [data]="dataSelectSpk" formControlName="spk_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}" disabled="disabled">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.spk_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.spk_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>



            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-content">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Nama Produk</mat-label>
                  <input matInput formControlName="item_id" required type="text" hidden>
                  <input matInput formControlName="nama_produk" required type="text">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.item_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.item_id.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <!-- <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Harga Satuan</mat-label>
                  <input matInput formControlName="harga_satuan" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.harga_satuan.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.harga_satuan.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->
              <!-- <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Jumlah Produk</mat-label>
                  <input matInput formControlName="jumlah" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.jumlah.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.jumlah.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->
              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Total Berat Terima(Kg)</mat-label>
                  <input matInput formControlName="total_berat_terima" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.total_berat_terima.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.total_berat_terima.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Sub Total(Rp)</mat-label>
                  <input matInput formControlName="sub_total" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.sub_total.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.sub_total.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>


              <!-- <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Total Berat Tagihan</mat-label>
                  <input matInput formControlName="total_berat_tagihan" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.total_berat_tagihan.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.total_berat_tagihan.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->

              <!-- <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Total Tagihan</mat-label>
                  <input matInput formControlName="total_tagihan" required type="number">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.total_tagihan.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.total_tagihan.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->

            </div>
            <br>
            <div class="card">
              <div class="card-content">

                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>Potongan(%)</mat-label>
                    <input matInput formControlName="potongan_persen" type="number">
                  </mat-form-field>
                </div>
                <button type="button" class="btn btn-primary btn-raised btn-sm " (click)="updatePotongan()">
                  Update Potongan
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-12">
          <div class="card-content">
            <button type="button" class="btn btn-primary btn-raised btn-sm btn-round" (click)="showTimbangan()">
              Surat Tervalidasi
            </button>
          </div>
        </div> -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-content">
              <div formArrayName="details">

                <!-- ✅ Tambahkan wrapper scroll di sini -->
                <div style="overflow-x: auto; width: 100%;">
                  <table id="mytable" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                    style="width: 1500px; min-width: 100%;">
                    <thead>
                      <tr>
                        <th rowspan="2" style="font-size:11pt; width: 5%;">No.</th>
                        <th rowspan="2" style="font-size:11pt; width: 10%;">No Tiket</th>
                        <th rowspan="2" style="font-size:11pt;">Tanggal</th>
                        <th rowspan="2" style="font-size:11pt;">No Kendaraan</th>
                        <th rowspan="2" style="font-size:11pt;">Nama Supir</th>
                        <th rowspan="2" style="font-size:11pt;">No SPB</th>
                        <th colspan="3" style="font-size:11pt; text-align: center;">Timbangan</th>
                        <th rowspan="2" style="font-size:11pt;">Sortasi</th>
                        <th rowspan="2" style="font-size:11pt;">Netto After</th>
                        <th rowspan="2" style="font-size:11pt;">Harga</th>
                        <th rowspan="2" style="font-size:11pt;">Total</th>
                      </tr>
                      <tr>
                        <th style="font-size:11pt;">Bruto</th>
                        <th style="font-size:11pt;">Tarra</th>
                        <th style="font-size:11pt;">Netto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of rekapTimbangan; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ p.no_tiket }}</td>
                        <td>{{ p.tanggal }}</td>
                        <td>{{ p.no_plat }}</td>
                        <td>{{ p.nama_supir }}</td>
                        <td>{{ p.no_spat }}</td>
                        <td>{{ p.berat_isi | number }}</td>
                        <td>{{ p.berat_kosong | number }}</td>
                        <td>{{ p.berat_bersih | number }}</td>
                        <td>{{ p.berat_potongan | number:'1.0-0' }}</td>
                        <td>{{ p.berat_terima | number:'1.0-0' }}</td>
                        <td style="min-width: 100px;">
                          <input
                            type="number"
                            class="form-control form-control-sm text-right"
                            [value]="p.harga"
                            (input)="onHargaInput(p, $event)"
                          />
                        </td>
                        <td>{{ (p.harga * p.berat_terima) | number }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- ✅ Akhir wrapper scroll -->

              </div>

              <br><br>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>
            </div>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
