<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">PKS Tanki Formula 1</h4>

              
              <div class="form-group label-floating">
                <label class="control-label">Tanki</label>
                <l-select2 [data]="dataSelectTanki" formControlName="tanki_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.tanki_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanki_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Tinggi</mat-label>
                  <input matInput required formControlName="tinggi">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.tinggi.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tinggi.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Hasil</mat-label>
                  <input matInput required formControlName="hasil">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.hasil.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.hasil.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Cek</mat-label>
                  <input matInput required formControlName="cek">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.cek.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.cek.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              


              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

          </div>
        </div>
    </div>
    </form>
  </div>
</div>
</div>
