<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Komponen Gaji</h4>

              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Nama</mat-label>
                  <input matInput required formControlName="nama">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.nama.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.nama.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>




                <label id="example-radio-group-label">Jenis</label>
                <mat-radio-group formControlName="jenis" aria-labelledby="example-radio-group-label"
                  class="example-radio-group">
                  <mat-radio-button value="1">Pendapatan Bulanan</mat-radio-button>
                   <mat-radio-button value="2">Pendapatan Harian</mat-radio-button>
                   <mat-radio-button value="3">Pendapatan Bulanan Fixed</mat-radio-button>
                  <mat-radio-button value="0">Potongan</mat-radio-button>
                </mat-radio-group>
                <div class="example-full-width ">
                  <mat-form-field>
                    <mat-label>Urut</mat-label>
                    <input type="number" matInput required formControlName="urut">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.urut.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.urut.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>



                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
                <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
