<div class="main-content" >
  <div class="container-fluid"  >
    <div class="row" >
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div> 
            <div class="card-content">
              <h4 class="card-title">Mesin Log</h4>
             
              <div class="form-group label-floating">
                <label class="control-label">Mesin</label>
                <l-select2 [data]="dataSelectMesin" formControlName="mesin_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'90%'}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.mesin_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.mesin_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">tanggal</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="tanggal">
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12" style="text-align:center">
                  <b class="text-muted">KM/HM</b>
                </div>
                <div class="example-full-width col-md-6">
                  <mat-form-field>
                    <mat-label>Awal</mat-label>
                    <input matInput formControlName="km_hm_awal" required type="number">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.km_hm_awal.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.km_hm_awal.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width col-md-6">
                  <mat-form-field>
                    <mat-label>Akhir</mat-label>
                    <input matInput formControlName="km_hm_akhir" required type="number">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.km_hm_akhir.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.km_hm_akhir.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
              </div>
              
              
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Keterangan</mat-label>
                  <textarea matInput formControlName="ket" required type="number"></textarea>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.ket.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.ket.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>
                        
            </div>
          </div>
        </div>
        
        
     
      </form>
    </div>
  </div>
</div>
