<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-8 col-md-offset-2"> -->
      <!-- <h3 class="title text-center">Kelas Mapel</h3> -->
      <!-- <br /> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Laporan -
              <small class="category">Lembur</small>
            </h4>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-pills-icons nav-pills-warning nav-stacked" role="tablist">

                  <li class="active">
                    <a href="#laporan_lembur" role="tab" data-toggle="tab">
                      <i class="material-icons">person</i>Rekap Per Karyawan
                    </a>
                  </li>
                  <li>
                    <a href="#laporan_lembur_bulanan" role="tab" data-toggle="tab">
                      <i class="material-icons">person</i>Rekap Bulanan
                    </a>
                  </li>

                </ul>
              </div>
              <div class="col-md-10">
                <div class="tab-content">


                  <div class="tab-pane active" id="laporan_lembur">
                    <form [formGroup]="LemburForm" (ngSubmit)="reportLembur()">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Rekap Per Karyawan</h4>
                        </div>
                        <div class="card-content">

                          <div class="form-group label-floating">
                            <label class="control-label">Lokasi</label>
                            <l-select2 [data]="dataSelectOrganisasi" formControlName="lokasi" [options]="{ placeholder: 'Semua',
                        allowClear: true,width:'49%'}">
                            </l-select2>
                          </div>
                          <div class="form-group label-floating">
                            <label class="control-label">Karyawan</label>
                            <l-select2 [data]="dataSelectKaryawan" formControlName="karyawan" [options]="{ placeholder: 'Semua',
                        allowClear: true,width:'50%'}">
                            </l-select2>
                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>dari Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_mulai">
                            </mat-form-field>
                          </div>
                          <div class="example-full-width ">
                            <mat-form-field>
                              <mat-label>s/d Tanggal</mat-label>
                              <input type="text" matInput [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                                class="form-control" formControlName="tanggal_akhir">
                            </mat-form-field>
                          </div>

                          <mat-radio-group formControlName="format_laporan" aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <mat-radio-button value="view">View </mat-radio-button>
                            <mat-radio-button value="xls">XLS</mat-radio-button>
                            <mat-radio-button value="pdf">PDF</mat-radio-button>
                          </mat-radio-group>

                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm btn-rose">Tampilkan</button>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>






                  <div class="tab-pane" id="laporan_lembur_bulanan">
                    <form [formGroup]="LemburBulananForm" (ngSubmit)="reportLemburBulanan()">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Rekap Bulanan</h4>
                        </div>
                        <div class="card-content">


                          <div class="form-group label-floating">
                            <label class="control-label">Lokasi</label>
                            <l-select2 [data]="dataSelectOrganisasi" formControlName="lokasi" [options]="{ placeholder: 'Semua',
                        allowClear: true,width:'49%'}">
                            </l-select2>
                          </div>

                          <div style="display:flex">
                            <div class="form-group label-floating" style="width:50%">
                              <label class="control-label">Bulan</label>
                              <l-select2 [data]="dataSelectBulan" formControlName="bulan" [options]="{ placeholder: 'Pilih',
                          allowClear: false,width:'100%'}">
                              </l-select2>
                              <!-- <div *ngIf="isFormPenerimaanTbsHarianSubmitted && penerimaanTbsHarianForm.controls['bulan'].errors" class="invalid-feedback">
                                <small [hidden]="!penerimaanTbsHarianForm.controls['bulan'].errors.required" class="text-danger">
                                  Tidak boleh kosong!
                                </small>
                              </div> -->
                            </div>
                            <div style="width:2%"></div>
                            <div class="form-group label-floating" style="width:50%">
                              <label class="control-label">Tahun</label>
                              <l-select2 [data]="dataSelectTahun" formControlName="tahun" [options]="{ placeholder: 'Pilih',
                          allowClear: false,width:'100%'}">
                              </l-select2>
                              <!-- <div *ngIf="isFormPenerimaanTbsHarianSubmitted && penerimaanTbsHarianForm.controls['tahun'].errors" class="invalid-feedback">
                                <small [hidden]="!penerimaanTbsHarianForm.controls['tahun'].errors.required" class="text-danger">
                                  Tidak boleh kosong!
                                </small>
                              </div> -->
                            </div>
                          </div>

                          <mat-radio-group formControlName="format_laporan" aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <mat-radio-button value="view">View </mat-radio-button>
                            <mat-radio-button value="xls">XLS</mat-radio-button>
                            <mat-radio-button value="pdf">PDF</mat-radio-button>
                          </mat-radio-group>

                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm btn-rose">Tampilkan</button>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>





                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>
