<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-icon" data-background-color="red">
            <i class="material-icons">list</i>
          </div>
          <h3 class="title text-center">Customer</h3>
          <div class="row">
            <div class="col-md-8 ">
              <br />
              <!-- <h3 class="title text-center">BLOK</h3> -->

              <!-- <div class="nav-center">
                <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
                  <li class="active">
                    <a href="#GbmCustomer_aktif" role="tab" data-toggle="tab" (click)="changeStatus(1)">
                      <i class="material-icons">school</i> Aktif
                    </a>
                  </li>
                  <li>
                    <a href="#GbmCustomer_non_aktif" role="tab" data-toggle="tab" (click)="changeStatus(0)">
                      <i class="material-icons">cancel</i> Non Aktif
                    </a>
                  </li>

                </ul>
              </div> -->
              <div class="tab-content">
                <div class="tab-pane" id="GbmCustomer_non_aktif">
                </div>
                <div class="tab-pane active" id="GbmCustomer_aktif">
                </div>
              </div>
            </div>
          </div>


          <div class="card-content">
            <!-- <h4 class="card-title">GbmCustomer</h4> -->

            <div class="toolbar">


              <div class="btn-group  " *ngIf="accessButton?.print_==true">
                <button type="button" (click)="exportFiles('csv')"
                  class="btn btn-round btn-info btn-sm btn-rose">csv</button>
                <button type="button" (click)="exportFiles('xlsx')"
                  class="btn btn-round btn-info btn-sm btn-rose">excel</button>
                <!-- <button type="button" class="btn btn-round btn-info">3</button>  -->
                <button type="button" (click)="exportFiles('pdf')"
                  class="btn btn-round btn-info btn-sm btn-rose">pdf</button>
              </div>
              <button type="button" (click)="add()" *ngIf="accessButton?.new_==true"
                class="btn btn-primary btn-info btn-sm btn pull-right btn-rose">Tambah Customer</button>
              <!-- <button type="button" (click)="import()"
                class="btn btn-primary btn-info btn-sm btn pull-right btn-info">Import Data GbmCustomer</button> -->


            </div>
            <div class="content table-responsive">
              <table id="mytable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable
                class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                style="width:100%">

                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Users</th>
                    <!-- <th>Tipe</th> -->
                    <!-- <th><input type="checkbox" [(ngModel)]="isChecked" name="GbmCustomercheck" (click)="checkuncheckall()"
                        *ngIf="status=='0'"> {{ status=='0' ? 'Pilih':''}}</th> -->
                    <th></th>
                </thead>
                <tbody *ngIf="gbmCustomer?.length != 0">
                  <tr *ngFor="let p of gbmCustomer; index as i">

                    <td>{{p.kode_customer}}</td>
                    <td>{{p.nama_customer}}</td>
                    <td>
                      <span style="font-size:10px;" class="md-caption"> <b>dibuat</b> : {{p.dibuat}}, {{p.dibuat_tanggal | date:'dd/MM/yyyy'}}</span> <br>
                      <span style="font-size:10px;" class="md-caption"> <b>diubah</b> : {{p.diubah}}, {{p.diubah_tanggal | date:'dd/MM/yyyy'}}</span>  <br>
                    </td>
                    <!-- <td>{{p.nama_kelompok}}</td> -->
                    <!-- <td>{{p.tipe_customer}}</td> -->

                    <!-- <td>

                      <input type="checkbox" [(ngModel)]="p.isSelected" name="id" value="{{p.id}}"
                        (change)="isAllSelected()" *ngIf="status=='0'">
                    </td> -->
                    <td class="text-right" style="width:10%">

                      <!-- <a href="#" onclick="event.preventDefault()" (click)="access(p.id)"
                        class="btn btn-simple btn-warning btn-icon"><i class="material-icons">list</i></a> -->
                      <a href="#" onclick="event.preventDefault()" (click)="edit(p.id)"
                        *ngIf="accessButton?.edit_==true" class="btn btn-simple btn-warning btn-icon edit"><i
                          class="material-icons">edit</i></a>
                      <a href="#" onclick="event.preventDefault()" (click)="delete(p.id)"
                        *ngIf="accessButton?.delete_==true" class="btn btn-simple btn-danger btn-icon remove"><i
                          class="material-icons">close</i></a>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="gbmCustomer?.length == 0" class="tfoot_dt">

                </tfoot>
              </table>
              <br><br>
              <!-- <div *ngIf="status=='0'">
                <mat-form-field>
                  <mat-label>Update Status Terpilih</mat-label>
                  <select matNativeControl [(ngModel)]="status_update" (change)="onChangeStatus()">

                    <option value="1" selected>Aktif</option>

                  </select>


                </mat-form-field>
                <br>
                <button type="button" (click)="updateStatus()"
                  class="btn btn-primary btn-info btn-sm btn btn-rose">Update </button>
              </div>
            </div> -->
            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>
