<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="red">
            <i class="material-icons">event</i>
          </div>

          <div class="card-content">
            <h4 class="card-title">Pendapatan Karyawan</h4>
            <div class="toolbar">
              <div class="btn-group  " *ngIf="accessButton?.print_==true">
                <button type="button" (click)="exportFiles('csv')"
                  class="btn btn-round btn-info btn-sm btn-rose">csv</button>
                <button type="button" (click)="exportFiles('xlsx')"
                  class="btn btn-round btn-info btn-sm btn-rose">excel</button>
                <button type="button" (click)="exportFiles('pdf')"
                  class="btn btn-round btn-info btn-sm btn-rose">pdf</button>
              </div>
              <button type="button" (click)="add()" class="btn btn-primary btn-info btn-sm btn pull-right btn-rose"
                *ngIf="accessButton?.new_==true">Tambah Pendapatan</button>
              <!-- <button type="button" (click)="import()"
                class="btn btn-primary btn-info btn-sm btn pull-right btn-info">Import Data </button> -->

            </div>
            <div class="">
              <table id="mytable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable
                class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                style="width:100%">
                <!-- <table id="mytable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="tables table-striped table-no-bordered table-hover" cellspacing="0"
              width="90%" style="width:90%"> -->
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Karyawan</th>
                    <th>Tanggal</th>
                    <th>Jenis </th>
                    <th>Nilai</th>
                    <th>Keterangan</th>
                    <!-- <th>Premi</th> -->
                    <th></th>
                </thead>
                <tbody *ngIf="pendapatan?.length != 0">
                  <tr *ngFor="let p of pendapatan; index as i">

                    <td>{{p.nama}} <small class="text-info">({{p.nip}})</small></td>
                    <td>{{ p.tanggal}}</td>
                    <td>{{ p.tipe_gaji}}</td>
                    <td>{{ p.nilai}}</td>
                    <td>{{ p.keterangan}}</td>
                    <td class="text-right">
                      <a href="#" onclick="event.preventDefault()" (click)="edit(p.id)"
                        *ngIf="accessButton?.edit_==true" class="btn btn-simple btn-warning btn-icon edit"><i
                          class="material-icons">edit</i></a>
                      <a href="#" onclick="event.preventDefault()" (click)="delete(p.id)"
                        *ngIf="accessButton?.delete_==true" class="btn btn-simple btn-danger btn-icon remove"><i
                          class="material-icons">close</i></a>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="pendapatan?.length == 0" class="tfoot_dt">

                </tfoot>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
