.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.example-radio-button {
  margin: 5px;
}
mat-form-field {
  width: 90%;
}
.table-scroll-xy {
  width: 100%;
  max-height: 300px;        /* tinggi maksimal tabel */
  overflow-x: auto;         /* scroll kanan–kiri */
  overflow-y: auto;         /* scroll atas–bawah */
  -webkit-overflow-scrolling: touch;
  border: 1px solid #ddd;
  padding-bottom: 5px;
}

.table-scroll-xy table {
  min-width: 700px;         /* supaya tabel tidak sempit */
}


