<div class="main-content" >
  <div class="container-fluid"  >
    <div class="row" >
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">

        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">list</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Invoice</h4>
              <div class="form-group label-floating">
                <label class="control-label">Lokasi</label>
                <l-select2  disabled="disabled"  [data]="dataSelectLokasi" formControlName="lokasi_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'90%'}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.lokasi_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.lokasi_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>


              <div class="form-group label-floating">
                <label class="control-label">Customer</label>
                <l-select2 disabled="disabled" [data]="dataSelectCustomer" formControlName="customer_id" [options]="{ placeholder: 'Pilih',
                allowClear: true,width:'90%'}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.customer_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.customer_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="form-group label-floating">
                <label class="control-label">Tanggal</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="tanggal">
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="example-full-width " hidden>
                <mat-form-field>
                  <mat-label>Rekap ID</mat-label>
                  <input matInput required formControlName="sls_rekap_id">
                </mat-form-field>

              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>No Invoice</mat-label>
                  <input matInput required formControlName="no_invoice">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.no_invoice.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.no_invoice.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <!-- <button type="button" class="btn btn-primary btn-raised btn-sm btn-round" (click)="showRekap()">
                Pilih Rekap
              </button> -->


              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>No Rekap</mat-label>
                  <input matInput required formControlName="no_rekap" type="text">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.no_rekap.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.no_rekap.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <!-- <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Customer</mat-label>
                  <input matInput required formControlName="customer">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.customer.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.customer.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="form-group label-floating">
                <label class="control-label">Tanggal</label>
                <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="tanggal_rk">
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.tanggal_rk.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal_rk.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->

              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Total Berat Timbangan</mat-label>
                  <input matInput required formControlName="total_berat_terima" type="number"  (ngModelChange)="valueChange($event)">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.total_berat_terima.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.total_berat_terima.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Harga Satuan</mat-label>
                  <input matInput required formControlName="harga_satuan" type="number"  (ngModelChange)="valueChange($event)">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.harga_satuan.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.harga_satuan.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width " hidden>
                <mat-form-field>
                  <mat-label>Jumlah</mat-label>
                  <input matInput required formControlName="jumlah" type="number" >
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.jumlah.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.jumlah.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Sub Total</mat-label>
                  <input matInput required formControlName="sub_total" type="number" readonly>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.sub_total.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.sub_total.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <!-- <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div> -->
            <div class="card-content">

              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Discount</mat-label>
                  <input matInput required formControlName="disc" type="number"  (ngModelChange)="valueChange($event)">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.disc.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.disc.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Uang Muka</mat-label>
                  <input matInput required formControlName="uang_muka" type="number"  (ngModelChange)="valueChange($event)">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.uang_muka.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.uang_muka.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>DPP</mat-label>
                  <input matInput required formControlName="dpp" type="number"  readonly>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.dpp.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.dpp.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>PPN(%)</mat-label>
                  <input matInput required formControlName="ppn" type="number"  (ngModelChange)="valueChange($event)">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.ppn.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.ppn.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Grand Total</mat-label>
                  <input matInput required formControlName="grand_total" type="number" readonly>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.grand_total.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.grand_total.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>

             <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
