<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Potongan Karyawan</h4>

              <div class="row">
                <div class="form-group label-floating col-md-6">
                  <label class="control-label col-md-6">Lokasi</label>
                  <l-select2 [data]="dataSelectLokasi" formControlName="lokasi_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'100%'}" disabled="disabled">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.lokasi_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.lokasi_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>

                <div class="form-group label-floating col-md-6">
                  <label class="control-label col-md-6">Kegiatan</label>
                  <l-select2 [data]="dataSelectKegiatan" formControlName="kegiatan_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'100%'}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.kegiatan_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.kegiatan_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>

                <div class="form-group label-floating col-md-12">
                  <label class="control-label col-md-6">Karyawan</label>
                  <l-select2 [data]="dataSelectKaryawan" formControlName="karyawan_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'100%'}" disabled="disabled">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.karyawan_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.karyawan_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                
                <div class="example-full-width col-md-6">
                  <mat-form-field>
                    <mat-label>Tanggal</mat-label>
                    <input matInput type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                      class="form-control" formControlName="tanggal" required>
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                
                <div class="example-full-width col-md-6">
                  <mat-form-field>
                    <mat-label>Nilai Potongan</mat-label>
                    <input matInput formControlName="nilai_potongan" type="number">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.nilai_potongan.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.nilai_potongan.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                


                <div class="example-full-width col-md-12">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
                  <button type="submit" class="btn btn-fill btn-rose">Simpan</button>
                </div>
              </div>

            </div>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>