<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">list</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Validasi SPAT - Timbangan</h4>
              <!-- <mat-radio-group formControlName="tipe">
                <mat-radio-button value="0">Masuk</mat-radio-button>
                <mat-radio-button value="1">Keluar</mat-radio-button>
              </mat-radio-group>
              <br> -->
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>No Spat</mat-label>
                  <input matInput required formControlName="no_spat" readonly disabled="disabled">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.no_spat.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.no_spat.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">tanggal</label>
                <input readonly disabled="disabled" type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                  formControlName="tanggal">
                <div class="form-control-position"><i class="ft-calendar"></i></div>
                <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Afdeling</label>

                <l-select2 disabled="disabled" [data]="dataSelectRayon" formControlName="rayon_id" [options]="{ placeholder: 'Pilih',
                allowClear: true}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.rayon_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.rayon_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Keterangan</mat-label>
                  <input readonly matInput  formControlName="keterangan" disabled="disabled">
                </mat-form-field>

              </div>
              <button type="button" class="btn btn-primary btn-raised btn-round" (click)="showTimbangan()">
                Pilih Timbangan
              </button>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>No Tiket</mat-label>
                  <input readonly  matInput  formControlName="no_tiket">
                </mat-form-field>

              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Berat Bersih</mat-label>
                  <input readonly matInput  formControlName="berat_bersih">
                </mat-form-field>

              </div>
              <div class="example-full-width " hidden>
                <mat-form-field>
                  <mat-label>Timbangan Id</mat-label>
                  <input readonly matInput  formControlName="pks_timbangan_id">
                </mat-form-field>

              </div>
              <br>


              <div formArrayName="details">
                <table id="mytable" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                  width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th style="width: 30%;">Blok</th>

                      <th>Jumlah Janjang</th>
                      <th>Brondolan(Kg)</th>

                      <th>BJR Pabrik</th>
                      <th>Kg Pabrik</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr [formGroupName]="i" *ngFor="let blok of details.controls; let i=index; let odd=odd;">
                      <td>
                        <l-select2 disabled="disabled" [data]="dataSelectBlok" formControlName="blok" [options]="{ placeholder: 'Pilih',
                        allowClear: true}">
                        </l-select2>
                        <!-- <div *ngIf="isFormSubmitted && Blok.akun.errors" class="invalid-feedback">
                          <small [hidden]="!Blok.akun.errors.required " class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div> -->
                      </td>


                      <td> <input readonly type="number" formControlName="jumlah_janjang" style="text-align: right;" class="form-control" (change)="recalculate()">
                      </td>
                      <td> <input readonly type="number" formControlName="jumlah_brondolan" style="text-align: right;" class="form-control" (change)="recalculate()">
                      </td>
                      <td> <input readonly type="number" formControlName="bjr_pabrik" style="text-align: right;" class="form-control" (change)="recalculate()">
                      </td>
                      <td> <input readonly type="number" formControlName="kg_pabrik" style="text-align: right;" class="form-control" (change)="recalculate()">
                      </td>
                      <td > <input  type="hidden" formControlName="id_detail" style="text-align: right;" class="form-control" hidden>
                      </td>
                                      <!-- <td><button (click)="removeBlok(blok)" class="btn btn-rose btn-round btn-fab btn-fab-mini">
                          <i class="material-icons">close</i></button></td> -->

                    </tr>

                  </tbody>

                  <!-- <button (click)="addBlokNew()" class="btn btn-info btn-round btn-fab btn-fab-mini">
                    <i class="material-icons">add</i>
                  </button> -->
                </table>
              </div>
              <table width="100%" style="width:100%" hidden>
                <tr>
                  <td style="width: 30%;">&nbsp;</td>
                  <td style="width: 40%;">Jumlah</td>
                  <!-- <td>
                    <input type="number" formControlName="total" style="text-align: right;" readonly>
                  </td> -->

                  <td></td>
                </tr>
              </table>

              <br><br>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
