<div class="main-content" >
  <div class="container-fluid"  >
    <div class="row" >
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">list</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Uang Muka</h4>
              <!-- <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Tanggal Efektif</mat-label>
                  <input matInput type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                    class="form-control" formControlName="tanggal_efektif" required>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.tanggal_efektif.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal_efektif.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->


              <div class="form-group label-floating">
                <label class="control-label col-md-6">Lokasi</label>
                <l-select2 [data]="dataSelectLokasi" formControlName="lokasi_id" [options]="{ placeholder: 'Pilih',
              allowClear: true}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.lokasi_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.lokasi_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label col-md-6">Akun Kasbank</label>
                <l-select2 [data]="dataSelectAkunKasbank" formControlName="acc_akun_kasbank_id" [options]="{ placeholder: 'Pilih',
              allowClear: true}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.acc_akun_kasbank_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.acc_akun_kasbank_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label col-md-6">Akun Uang Muka</label>
                <l-select2 [data]="dataSelectAkun" formControlName="acc_akun_id" [options]="{ placeholder: 'Pilih',
              allowClear: true}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.acc_akun_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.acc_akun_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="example-full-width">
                <mat-form-field>
                  <mat-label>Tanggal </mat-label>
                  <input matInput type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                    class="form-control" formControlName="tanggal" required>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>

              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>No Transaksi</mat-label>
                  <input matInput formControlName="no_transaksi" required type="text" readonly>
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.no_transaksi.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.no_transaksi.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Nilai</mat-label>
                  <input matInput formControlName="nilai" required type="text">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.nilai.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.nilai.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Keterangan</mat-label>
                  <input matInput formControlName="keterangan" required type="text">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.keterangan.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.keterangan.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>



              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

            </div>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>
