<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">list</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Organisasi</h4>
            <div class="form-group label-floating" *ngIf="GbmOrganisasi.parent_id != null">
              <label class="control-label">Parent</label>

              <l-select2 [data]="dataSelectOrganisasi" [options]="{ placeholder: 'None',
              allowClear: true,width:'90%'}" formControlName="parent_id">
              </l-select2>
              <!-- <div *ngIf="isFormSubmitted && userControl.parent_id.errors" class="invalid-feedback">
                <small [hidden]="!userControl.parent_id.errors.required && userControl.parent_id.value.text!='Pilih'"
                  class="text-danger">
                  Tidak boleh kosong!
                </small>
              </div> -->
            </div>
            <div class="form-group label-floating">
              <label class="control-label">Tipe</label>
              <l-select2 [data]="dataSelectTipe" formControlName="tipe"
                [options]="{ placeholder: 'Pilih',
                   allowClear: false,width:'90%'}">
              </l-select2>
              <div *ngIf="isFormSubmitted && userControl.tipe.errors" class="invalid-feedback">
                <small [hidden]="!userControl.tipe.errors.required && userControl.tipe.value.text!='Pilih'"
                  class="text-danger">
                  Tidak boleh kosong!
                </small>
              </div>
            </div>
            <div class="example-full-width ">
              <mat-form-field>
                <mat-label>Kode</mat-label>
                <input matInput formControlName="kode" required>
              </mat-form-field>
              <div *ngIf="isFormSubmitted && userControl.kode.errors" class="invalid-feedback">
                <small [hidden]="!userControl.kode.errors.required" class="text-danger">
                  Tidak boleh kosong!
                </small>
              </div>
            </div>
            <div class="example-full-width ">
              <mat-form-field>
                <mat-label>Nama Organisasi</mat-label>
                <input matInput formControlName="nama" required>
              </mat-form-field>
              <div *ngIf="isFormSubmitted && userControl.nama.errors" class="invalid-feedback">
                <small [hidden]="!userControl.nama.errors.required" class="text-danger">
                  Tidak boleh kosong!
                </small>
              </div>
            </div>
            <div class="form-group label-floating" *ngIf="userControl.tipe.value!.text == 'GUDANG_VIRTUAL'">
              <label class="control-label">Afdeling</label>

              <l-select2 [data]="dataSelectAfdeling" [options]="{ placeholder: 'Pilih',
              allowClear: true,width:'90%'}" formControlName="afdeling_id">
              </l-select2>
              <!-- <div *ngIf="isFormSubmitted && userControl.parent_id.errors" class="invalid-feedback">
                <small [hidden]="!userControl.parent_id.errors.required && userControl.parent_id.value.text!='Pilih'"
                  class="text-danger">
                  Tidak boleh kosong!
                </small>
              </div> -->
            </div>



              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>
            <!-- </form> -->
          </div>
        </div>
      </div>

    </form>
    </div>
  </div>
</div>
