<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-icon" data-background-color="red">
            <i class="material-icons">list</i>
          </div>
          <h3 class="title text-center">Tangki Formula 3</h3>



          <div class="card-content">
            <!-- <h4 class="card-title">pksTankiFormula3</h4> -->

            <div class="toolbar">


              <div class="btn-group  " *ngIf="accessButton?.print_==true">
                <button type="button" (click)="exportFiles('csv')"
                  class="btn btn-round btn-info btn-sm btn-rose">csv</button>
                <button type="button" (click)="exportFiles('xlsx')"
                  class="btn btn-round btn-info btn-sm btn-rose">excel</button>
                <!-- <button type="button" class="btn btn-round btn-info">3</button>  -->
                <button type="button" (click)="exportFiles('pdf')"
                  class="btn btn-round btn-info btn-sm btn-rose">pdf</button>
              </div>
              <button type="button" (click)="add()" *ngIf="accessButton?.new_==true"
                class="btn btn-primary btn-info btn-sm btn pull-right btn-rose">Tambah Formula</button>
              <!-- <button type="button" (click)="import()"
                class="btn btn-primary btn-info btn-sm btn pull-right btn-info">Import Data pksTankiFormula3</button> -->


            </div>
            <div class="content table-responsive">
              <table id="mytable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable
                class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                style="width:100%">

                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tangki</th>
                    <th>Simbol</th>
                    <th>Qty</th>
                    <th>Hasil</th>
                    
                 
                    <th></th>
                </thead>
                <tbody *ngIf="pksTankiFormula3?.length != 0">
                  <tr *ngFor="let p of pksTankiFormula3; index as i">

                    <td>{{p.tangki}}</td>
                    <td>{{p.simbol}}</td>
                    <td>{{p.qty}}</td>
                    <td>{{p.hasil}}</td>
                    
                    <td class="text-right">

                      <!-- <a href="#" onclick="event.preventDefault()" (click)="access(p.id)"
                        class="btn btn-simple btn-warning btn-icon"><i class="material-icons">list</i></a> -->
                      <a href="#" onclick="event.preventDefault()" (click)="edit(p.id)"
                        *ngIf="accessButton?.edit_==true" class="btn btn-simple btn-warning btn-icon edit"><i
                          class="material-icons">edit</i></a>
                      <a href="#" onclick="event.preventDefault()" (click)="delete(p.id)"
                        *ngIf="accessButton?.delete_==true" class="btn btn-simple btn-danger btn-icon remove"><i
                          class="material-icons">close</i></a>
                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="pksTankiFormula3?.length == 0" class="tfoot_dt">

                </tfoot>
              </table>
              <br><br>
              <!-- <div *ngIf="status=='0'">
                <mat-form-field>
                  <mat-label>Update Status Terpilih</mat-label>
                  <select matNativeControl [(ngModel)]="status_update" (change)="onChangeStatus()">

                    <option value="1" selected>Aktif</option>

                  </select>


                </mat-form-field>
                <br>
                <button type="button" (click)="updateStatus()"
                  class="btn btn-primary btn-info btn-sm btn btn-rose">Update </button>
              </div>
            </div> -->
            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>
