<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">list</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Kegiatan Kendaraan/Alat Berat/Mesin(Copy)</h4>

              <!-- <mat-radio-group formControlName="tipe">
                <mat-radio-button value="0">Masuk</mat-radio-button>
                <mat-radio-button value="1">Keluar</mat-radio-button>
              </mat-radio-group>
              <br> -->
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Lokasi</label>
                  <l-select2 [data]="dataSelectEstate" formControlName="lokasi_id" [options]="{ placeholder: 'Pilih',
                allowClear:false}" disabled="disabled">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.lokasi_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.lokasi_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Traksi</label>
                  <l-select2 [data]="dataSelectTraksi" formControlName="traksi_id" [options]="{ placeholder: 'Pilih',
                allowClear:false}" disabled="disabled">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.traksi_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.traksi_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Status Kendaraan</label>
                  <l-select2 [data]="dataSelectStatusKendaraan" formControlName="status_kendaraan" [options]="{ placeholder: 'Pilih',
                allowClear:false}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.status_kendaraan.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.status_kendaraan.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>No Transaksi</mat-label>
                    <input matInput formControlName="no_transaksi" required type="text">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.no_transaksi.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.no_transaksi.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">tanggal</label>
                  <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                    formControlName="tanggal">
                  <div class="form-control-position"><i class="ft-calendar"></i></div>
                  <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Kendaraan/Alat Berat/Mesin</label>
                  <l-select2 [data]="dataSelectKendaraan" formControlName="kendaraan_id" [options]="{ placeholder: 'Pilih',
                allowClear:false}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.kendaraan_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.kendaraan_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Mandor Transport</label>
                  <l-select2 [data]="dataSelectMandor" formControlName="mandor_id" [options]="{ placeholder: 'Pilih',
                allowClear:true}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.mandor_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.mandor_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="togglebutton">
                  <label>
                    <input type="checkbox" formControlName="is_asistensi" (change)="asistensiChange( $event)">
                    <span class="toggle"></span>
                    Asistensi
                  </label>
                </div>

              </div>

              <div class="card">
                <div class="card-header card-header-tabs" data-background-color="rose">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <!-- <span class="nav-tabs-title">Tasks:</span> -->
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                          <a href="#pillPrestasi" data-toggle="tab">
                            <i class="material-icons">list</i> Supir/Operator
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="">
                          <a href="#pillKegiatanKendaraan" data-toggle="tab">
                            <i class="material-icons">code</i> Kegiatan
                            <div class="ripple-container"></div>
                          </a>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-content">

                  <div class="tab-pane active" id="pillPrestasi">
                    <div formArrayName="details">
                      <fieldset class="container-fluid shift_content" [formGroupName]="i"
                        *ngFor="let blok of details.controls; let i=index; let odd=odd;">
                        <legend>
                          <span class="label label-info">{{i+1}}</span>
                          <button type="button" (keydown.enter)="$event.preventDefault()" (click)="removeDetail(blok)"
                            class="btn btn-danger btn-round btn-fab btn-fab-mini" rel="tooltip" data-placement="bottom"
                            title="Hapus Detail">
                            <i class="material-icons">close</i>
                          </button>
                        </legend>
                        <div class="xform-group col-md-6">
                          <label class="control-label">Karyawan</label>
                          <l-select2 [data]="dataSelectKaryawan" formControlName="karyawan_id" [options]="{ placeholder: 'Pilih',
                        allowClear: true}" (valueChange)="valueChange($event,blok)">
                          </l-select2>
                          <!-- <div *ngIf="isFormSubmitted && userControl.shift_id.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.shift_id.errors.required " class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div> -->
                        </div>


                        <!--
                        <div class="form-group col-md-3">
                          <mat-form-field>
                            <mat-label>hasil Kerja</mat-label>
                            <input matInput formControlName="hasil_kerja" required type="number">
                          </mat-form-field>

                        </div> -->
                        <div class="form-group col-md-3">
                          <mat-form-field>
                            <mat-label> Hk</mat-label>
                            <input matInput formControlName="jumlah_hk" required type="number"
                              (change)="hitungPremi(blok)">
                          </mat-form-field>
                          <!-- <div *ngIf="isFormSubmitted && userControl.jumlah_rebusan.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.jumlah_rebusan.errors.required" class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div> -->
                        </div>

                        <div class="form-group col-md-3">
                          <mat-form-field>
                            <mat-label>Rupiah Hk</mat-label>
                            <input matInput formControlName="rupiah_hk" required type="number" readonly="readonly">
                          </mat-form-field>
                          <!-- <div *ngIf="isFormSubmitted && userControl.jam_proses.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.jam_proses.errors.required" class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div> -->
                        </div>
                        <div class="form-group col-md-3">
                          <mat-form-field>
                            <mat-label>Premi</mat-label>
                            <input matInput formControlName="premi" required type="number">
                          </mat-form-field>
                          <!-- <div *ngIf="isFormSubmitted && userControl.jumlah_rebusan.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.jumlah_rebusan.errors.required" class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div> -->
                        </div>
                        <div class="form-group col-md-3">
                          <mat-form-field>
                            <mat-label>Denda</mat-label>
                            <input matInput formControlName="denda_traksi" type="number">
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                          <mat-form-field>
                            <mat-label>Keterangan Denda</mat-label>
                            <input matInput formControlName="ket_denda" type="text">
                          </mat-form-field>
                        </div>

                      </fieldset>

                    </div>
                    <div class="col-md-12">
                      <button type="button" (click)="addDetail(null,0, 0, 0,0,'')"
                        class="btn btn-info btn-round btn-fab btn-fab-mini" rel="tooltip" data-placement="bottom"
                        title="Tambah Detail">
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                  </div>

                  <div class="tab-pane" id="pillKegiatanKendaraan">
                    <div formArrayName="details_kegiatan">
                      <fieldset class="container-fluid shift_content" [formGroupName]="i"
                        *ngFor="let Kegiatan of details_kegiatan.controls; let i=index; let odd=odd;">
                        <legend>
                          <span class="label label-info">{{i+1}}</span>
                          <button (click)="removeKegiatan(Kegiatan)"
                            class="btn btn-danger btn-round btn-fab btn-fab-mini" rel="tooltip" data-placement="bottom"
                            title="Hapus Kegiatan">
                            <i class="material-icons">close</i>
                          </button>
                        </legend>
                        <div class="col-md-12">
                          <div class="col-md-2">
                            <div class="form-group">
                              <mat-form-field>
                                <mat-label>Mulai</mat-label>
                                <input matInput formControlName="km_hm_mulai" required style="text-align: right;"
                                  (change)="getSelisihKm(Kegiatan)">
                              </mat-form-field>
                              <!-- <div *ngIf="isFormSubmitted && userControl.jumlah_rebusan.errors" class="invalid-feedback">
                            <small [hidden]="!userControl.jumlah_rebusan.errors.required" class="text-danger">
                              Tidak boleh kosong!
                            </small>
                          </div> -->
                            </div>

                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <mat-form-field>
                                <mat-label>Akhir</mat-label>
                                <input matInput formControlName="km_hm_akhir" required type="number"
                                  style="text-align: right;" (change)="getSelisihKm(Kegiatan)">
                              </mat-form-field>
                              <!-- <div *ngIf="isFormSubmitted && userControl.jumlah_rebusan.errors" class="invalid-feedback">
                            <small [hidden]="!userControl.jumlah_rebusan.errors.required" class="text-danger">
                              Tidak boleh kosong!
                            </small>
                          </div> -->
                            </div>

                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <mat-form-field>
                                <mat-label>jumlah</mat-label>
                                <input matInput formControlName="km_hm_jumlah" required type="number"
                                  style="text-align: right;">
                              </mat-form-field>
                              <!-- <div *ngIf="isFormSubmitted && userControl.jumlah_rebusan.errors" class="invalid-feedback">
                            <small [hidden]="!userControl.jumlah_rebusan.errors.required" class="text-danger">
                              Tidak boleh kosong!
                            </small>
                          </div> -->
                            </div>

                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="xform-group col-md-4">
                            <label class="control-label">Kegiatan</label>
                            <l-select2 [data]="dataSelectKegiatan" formControlName="kegiatan_id" [options]="{ placeholder: 'Pilih',
                        allowClear: true}">
                            </l-select2>
                            <!-- <div *ngIf="isFormSubmitted && userControl.asisten_id.errors" class="invalid-feedback">
                          <small [hidden]="!userControl.asisten_id.errors.required " class="text-danger">
                            Tidak boleh kosong!
                          </small>
                        </div> -->
                          </div>
                          <div class="col-md-4">
                            <div class="xform-group">
                              <label class="control-label">Blok/Mesin</label>
                              <!-- <l-select2 [data]="dataSelectGudang" formControlName="gudang_id" [options]="{ placeholder: 'Pilih',
                          allowClear: true}">
                            </l-select2> -->
                              <l-select2 [data]="dataSelectBlok" formControlName="blok_id" [options]="{ placeholder: 'Pilih',
                            allowClear: true}">
                              </l-select2>
                              <!-- <div *ngIf="isFormSubmitted && userControl.shift_id.errors" class="invalid-feedback">
                            <small [hidden]="!userControl.shift_id.errors.required " class="text-danger">
                              Tidak boleh kosong!
                            </small>
                          </div> -->
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <mat-form-field>
                                <mat-label>volume</mat-label>
                                <input matInput formControlName="volume" required type="number"
                                  style="text-align: right;">
                              </mat-form-field>

                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="form-group">
                              <mat-form-field>
                                <mat-label>Keterangan</mat-label>
                                <input matInput formControlName="ket" style="text-align: left;">
                              </mat-form-field>

                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <div class="col-md-12">
                        <button type="button" (click)="addKegiatan(null, null, 0, 0, 0, 0,'')"
                          class="btn btn-info btn-round btn-fab btn-fab-mini" rel="tooltip" data-placement="bottom"
                          title="Tambah Kegiatan">
                          <i class="material-icons">add</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <br><br>
                <div class="col-md-12">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
                  <button type="submit" class="btn btn-fill btn-rose">Simpan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
