<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">SPK Kendaraan</h4>

              <div class="row">
                <div class="form-group label-floating col-md-6">
                  <label class="control-label col-md-6">Lokasi</label>
                  <l-select2 [data]="dataSelectLokasi" formControlName="lokasi_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'100%'}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.lokasi_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.lokasi_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="form-group label-floating col-md-6">
                  <label class="control-label col-md-6">Traksi</label>
                  <l-select2 [data]="dataSelectTraksi " formControlName="traksi_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'100%'}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.traksi_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.traksi_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width col-md-12">
                  <mat-form-field>
                    <mat-label>Tanggal</mat-label>
                    <input matInput type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                      class="form-control" formControlName="tanggal" required>
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width col-md-12">
                  <mat-form-field>
                    <mat-label>No SPK</mat-label>
                    <input matInput formControlName="no_spk" type="text">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.no_spk.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.no_spk.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="form-group label-floating col-md-6">
                  <label class="control-label col-md-6">Kendaraan</label>
                  <l-select2 [data]="dataSelectKendaraan " formControlName="kendaraan_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'100%'}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.kendaraan_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.kendaraan_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="form-group label-floating col-md-6">
                  <label class="control-label col-md-6">Kontraktor</label>
                  <l-select2 [data]="dataSelectSupplier " formControlName="kontraktor_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'100%'}">
                  </l-select2>
                  <div *ngIf="isFormSubmitted && userControl.kontraktor_id.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.kontraktor_id.errors.required " class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width col-md-6">
                  <mat-form-field>
                    <mat-label>Tanggal Mulai</mat-label>
                    <input matInput type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                      class="form-control" formControlName="tanggal_mulai" required>
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.tanggal_mulai.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.tanggal_mulai.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width col-md-6">
                  <mat-form-field>
                    <mat-label>Tanggal Akhir</mat-label>
                    <input matInput type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker
                      class="form-control" formControlName="tanggal_akhir" required>
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.tanggal_akhir.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.tanggal_akhir.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width col-md-4">
                  <mat-form-field>
                    <mat-label>Harga Sewa</mat-label>
                    <input matInput formControlName="harga_sewa" type="number">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.harga_sewa.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.harga_sewa.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width col-md-4">
                  <mat-form-field>
                    <mat-label>Harga Mob</mat-label>
                    <input matInput formControlName="harga_mob" type="number">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.harga_mob.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.harga_mob.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>

                <div class="form-group label-floating col-md-4">
                  <label class="control-label col-md-6">Satuan</label>
                  <l-select2 [data]="dataSelectUom " formControlName="uom_id" [options]="{ placeholder: 'Pilih',
                allowClear: false,width:'100%'}">
                  </l-select2>
                </div>
                <div class="example-full-width col-md-12">
                  <mat-form-field>
                    <mat-label>Deskripsi</mat-label>
                    <input matInput formControlName="deskripsi" type="text">
                  </mat-form-field>
                  <div *ngIf="isFormSubmitted && userControl.deskripsi.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.deskripsi.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
                <div class="example-full-width col-md-12">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
                  <button type="submit" class="btn btn-fill btn-rose">Simpan</button>
                </div>
              </div>

            </div>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>