<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Item</h4>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Kode</mat-label>
                  <input matInput required formControlName="kode">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.kode.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.kode.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Nama</mat-label>
                  <input matInput required formControlName="nama">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.nama.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.nama.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Satuan</label>

                <l-select2 [data]="dataSelectSatuan" formControlName="uom_id" [options]="{ placeholder: 'Pilih',
              allowClear: false}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.uom_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.uom_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating ">
                <label class="control-label ">Jenis</label>
                <l-select2 [data]="dataSelectJenisItem" formControlName="jenis_item" [options]="{ placeholder: 'Pilih',
                   allowClear: false,width:'100%'}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.jenis_item.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.jenis_item.errors.required && userControl.jenis_item.value.text!='Pilih'"
                    class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Kategori</label>

                <l-select2 [data]="dataSelectKategori" formControlName="kategori_id" [options]="{ placeholder: 'Pilih',
              allowClear: false}">
                </l-select2>
                <div *ngIf="isFormSubmitted && userControl.kategori_id.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.kategori_id.errors.required " class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div *ngIf="isFormSubmitted && userControl.kategori_id.errors" class="invalid-feedback">
                <small [hidden]="!userControl.kategori_id.errors.required" class="text-danger">
                  Tidak boleh kosong!
                </small>
              </div>
              <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Minimum Stok</mat-label>
                  <input type="number" matInput required formControlName="min_stok">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.min_stok.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.min_stok.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div>
              <div>
                <label>
                  <input formControlName="aktif" type="checkbox" name="optionsCheckboxes"> Aktif
                </label>
              </div>
              <!-- <div class="example-full-width ">
                <mat-form-field>
                  <mat-label>Harga beli</mat-label>
                  <input type="number" matInput required formControlName="harga_beli">
                </mat-form-field>
                <div *ngIf="isFormSubmitted && userControl.harga_beli.errors" class="invalid-feedback">
                  <small [hidden]="!userControl.harga_beli.errors.required" class="text-danger">
                    Tidak boleh kosong!
                  </small>
                </div>
              </div> -->



              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
