<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">list</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">BAPP SPK</h4>
              <div class="col-md-6">
                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>Blok</mat-label>
                    <input matInput formControlName="blok" readonly>
                    <div *ngIf="isFormSubmitted && userControl.blok.errors" class="invalid-feedback">
                      <small [hidden]="!userControl.blok.errors.required" class="text-danger">
                        Tidak boleh kosong!
                      </small>
                    </div>
                  </mat-form-field>
                </div>

              </div>
              <div class="col-md-6">
                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>Kegiatan</mat-label>
                    <input matInput formControlName="kegiatan" readonly>
                    <div *ngIf="isFormSubmitted && userControl.kegiatan.errors" class="invalid-feedback">
                      <small [hidden]="!userControl.kegiatan.errors.required" class="text-danger">
                        Tidak boleh kosong!
                      </small>
                    </div>
                  </mat-form-field>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">tanggal</label>
                  <input type="text" [bsConfig]="datepickerConfig" #dp="bsDatepicker" bsDatepicker class="form-control"
                    formControlName="tanggal">
                  <div class="form-control-position"><i class="ft-calendar"></i></div>
                  <div *ngIf="isFormSubmitted && userControl.tanggal.errors" class="invalid-feedback">
                    <small [hidden]="!userControl.tanggal.errors.required" class="text-danger">
                      Tidak boleh kosong!
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>Keterangan</mat-label>
                    <input matInput formControlName="keterangan" >
                    <div *ngIf="isFormSubmitted && userControl.keterangan.errors" class="invalid-feedback">
                      <small [hidden]="!userControl.keterangan.errors.required" class="text-danger">
                        Tidak boleh kosong!
                      </small>
                    </div>
                  </mat-form-field>
                </div>

              </div>
              <div class="col-md-6">
                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>hari kerja</mat-label>
                    <input matInput formControlName="real_hk" required (change)="numberFormat()">
                    <div *ngIf="isFormSubmitted && userControl.real_hk.errors" class="invalid-feedback">
                      <small [hidden]="!userControl.real_hk.errors.required" class="text-danger">
                        Tidak boleh kosong!
                      </small>
                    </div>
                  </mat-form-field>
                </div>

              </div>
              <div class="col-md-6">
                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>Volume</mat-label>
                    <input matInput formControlName="real_volume" required (change)="numberFormat()">
                    <div *ngIf="isFormSubmitted && userControl.real_volume.errors" class="invalid-feedback">
                      <small [hidden]="!userControl.real_volume.errors.required" class="text-danger">
                        Tidak boleh kosong!
                      </small>
                    </div>
                  </mat-form-field>
                </div>

              </div>
              <div class="col-md-6">
                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>Harga Satuan</mat-label>
                    <input matInput formControlName="real_harga" readonly>
                    <div *ngIf="isFormSubmitted && userControl.real_harga.errors" class="invalid-feedback">
                      <small [hidden]="!userControl.real_harga.errors.required" class="text-danger">
                        Tidak boleh kosong!
                      </small>
                    </div>
                  </mat-form-field>
                </div>

              </div>
              <div class="col-md-6">
                <div class="example-full-width">
                  <mat-form-field>
                    <mat-label>Jumlah</mat-label>
                    <input matInput formControlName="jumlah"readonly>
                    <div *ngIf="isFormSubmitted && userControl.jumlah.errors" class="invalid-feedback">
                      <small [hidden]="!userControl.jumlah.errors.required" class="text-danger">
                        Tidak boleh kosong!
                      </small>
                    </div>
                  </mat-form-field>
                </div>

              </div>



              <div class="card">


                <br><br>
                <div class="col-md-12">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
                  <button type="submit" class="btn btn-fill btn-rose">Simpan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
