<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="red">
            <i class="material-icons">person</i>
          </div>

          <div class="card-content">
            <h4 class="card-title">Daftar Data Rekap</h4>

            <div>
              <button type="button" data-dismiss="modal" (click)="onClose()" class="btn btn-primary btn-info btn-sm ">
                Tutup</button>

            </div>

            <div class="content table-responsive">
              <table id="mytable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable
                class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                style="width:100%">

                <thead>
                  <tr>
                    <th>ID</th>

                    <th>No Rekap</th>

                    <th>No Kontrak</th>
                    <th>Tanggal</th>
                    <!-- <th>Produk</th> -->

                    <th></th>
                </thead>
                <tbody *ngIf="SlsRekap?.length != 0">
                  <tr *ngFor="let p of SlsRekap; index as i">

                    <td>{{p.no_rekap}}</td>
                    <td>{{p.spk}}</td>
                    <td>{{p.tanggal}}</td>
                    <!-- <td>{{p.item_id}}</td> -->

                    <td class="text-right">

                      <button (click)="addItem(p)" class="btn btn-info btn-round btn-fab btn-fab-mini">
                        <i class="material-icons">add</i>
                      </button>

                    </td>
                  </tr>
                </tbody>
                <tfoot *ngIf="SlsRekap?.length == 0" class="tfoot_dt">

                </tfoot>
              </table>
            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>
