<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                  <a href="http://www.dinamikaprima-artha.com" target="_blank">
                        Home
                    </a>
                </li>
                <li>
                  <a href="http://www.dinamikaprima-artha.com" target="_blank">
                        Company
                    </a>
                </li>
                <li>
                  <a href="http://www.dinamikaprima-artha.com" target="_blank">
                        Portfolio
                    </a>
                </li>
                <li>
                  <a href="http://www.dinamikaprima-artha.com" target="_blank">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="http://www.dinamikaprima-artha.com" target="_blank">HRMS</a>, made with love for the best school
        </p>
    </div>
</footer>
