<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">person</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Ganti Password</h4>
              <p>{{user.user_full_name}}</p>
              <!-- <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput formControlName="user_name" required>
              </mat-form-field>
              <div *ngIf="isFormSubmitted && userControl.user_name.errors" class="invalid-feedback">
                <small [hidden]="!userControl.user_name.errors.required" class="text-danger">
                  Tidak boleh kosong!
                </small>
                <small [hidden]="!userControl.user_name.errors.minlength" class="text-danger">
                  Minimal karakter 3 digit!
                </small>
              </div> -->

              <mat-form-field>
                <mat-label>Password Baru</mat-label>
                <input matInput formControlName="user_password" required type="password">
              </mat-form-field>
              <div *ngIf="isFormSubmitted && userControl.user_password.errors" class="invalid-feedback">
                <small [hidden]="!userControl.user_password.errors.required" class="text-danger">
                  Tidak boleh kosong!
                </small>
                <small [hidden]="!userControl.user_password.errors.mustMatch" class="text-danger">
                  Password dan ulang password tidak sama!
                </small>
                <small [hidden]="!userControl.user_password.errors.minlength" class="text-danger">
                  Minimal karakter 3 digit!
                </small>
              </div>

              <!-- <mat-form-field>
                <mat-label>Password Baru</mat-label>
                <input matInput formControlName="password_baru" required type="password">
              </mat-form-field>
              <div *ngIf="isFormSubmitted && userControl.password_baru.errors" class="invalid-feedback">
                <small [hidden]="!userControl.password_baru.errors.required" class="text-danger">
                  Tidak boleh kosong!
                </small>
                <small [hidden]="!userControl.password_baru.errors.mustMatch" class="text-danger">
                  Password dan ulang password tidak cocok!
                </small>
                <small [hidden]="!userControl.password_baru.errors.minlength" class="text-danger">
                  Minimal karakter 3 digit!
                </small>
              </div> -->


              <mat-form-field>
                <mat-label>Ulang Password</mat-label>
                <input matInput formControlName="re_password" required type="password">
              </mat-form-field>
              <div *ngIf="isFormSubmitted && userControl.re_password.errors" class="invalid-feedback">
                <small [hidden]="!userControl.re_password.errors.required" class="text-danger">
                  Tidak boleh kosong!
                </small>
                <small [hidden]="!userControl.re_password.errors.mustMatch" class="text-danger">
                  Password dan ulang password tidak sama!
                </small>
              </div>


              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Batal</button>
              <button type="submit" class="btn btn-fill btn-rose">Simpan</button>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
